@font-face{font-family: "OpenSans";src: url("./../resources/fonts/OpenSans-Regular.ttf") format("truetype");}
@font-face{font-family: "Lato";src: url("./../resources/fonts/Lato-Regular.ttf") format("truetype");}

body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: "OpenSans", Arial;
	background-color: #DDDDDD;
}
a {
	color: #00405D;
}
img {
	max-width: 100%;
}

h1,h2,h3,h4 {
	color: #00405D;
}

iframe {
	max-width: 100% !important;
}

.contenedor {
	width: 100%;
	max-width: 768px;
	margin: auto;
	background-color: #FFFFFF;
}
.header_01 {
	width:90%;
	padding: 3% 5%;
	height: 45vh;
	max-height: 45vh;
	background:url(../resources/images/general/portada.jpg) no-repeat center;
	background-size: cover;
}
.header_02 {
	position: relative;
	width:90%;
	padding: 3% 5%;
	height: 25vh;
	min-height: 100px;
	max-height: 200px;
	color: #EEEEEE;	
	background: url(../resources/images/general/portada_02.jpg) no-repeat center;
}

.header_01 h1, .header_02 h1 {
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	font-size:3em;
	line-height: 0.9em;
	text-shadow: 0px 0px 3px #111;
}
.h1_mini {
	font-size: 0.5em;
}

ul {
	padding: 0 15px;
}

ul li b {
	width: 130px;
	display: inline-block;
	padding: 6px 0;
}

.nav_01 {
	width: 100%;
}
.nav_01 ul {
	padding: 0;
	list-style: none;
}
.nav_01 ul li {
	border-bottom: 1px solid #EEEEEE;
	padding: 15px 2px;
}
.nav_01 ul:first-child  {
	border-top: 1px solid #EEEEEE;
}

.nav_02 {
	width: 30px;
	height: 30px;
	line-height:30px;
	padding: 5px;
	color: #333;
	box-shadow: 0px 0px 3px #111;
	border-radius: 100px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	right: 70px;
	font-size: 0.75em;
	cursor:pointer;
	background: #fff url(../resources/images/general/menu.png) no-repeat center;
	background-size: 20px;
	z-index: 9999;
}

#boton_salir {
	width: 30px;
	height: 30px;
	line-height:30px;
	padding: 5px;
	color: #333;
	box-shadow: 0px 0px 3px #111;
	border-radius: 100px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 0.75em;
	cursor:pointer;
	background: #fff url(../resources/images/general/out.png) no-repeat center;
	background-size: 20px;
	z-index: 9999;
}
.nav_03 {
	position: relative !important;
	float: right;
	right: 0px !important;
	bottom: 50px !important;
}

#boton_atras {
	width: 30px;
	height: 30px;
	line-height:30px;
	padding: 5px;
	color: #333;
	box-shadow: 0px 0px 3px #111;
	border-radius: 100px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	right: 120px;
	font-size: 0.75em;
	cursor:pointer;
	background: #fff url(../resources/images/general/atras.png) no-repeat center;
	background-size: 20px;
	z-index: 9999;
}
#boton_refresh {
	width: 30px;
	height: 30px;
	line-height:30px;
	padding: 5px;
	color: #333;
	box-shadow: 0px 0px 3px #111;
	border-radius: 100px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	right: 220px;
	font-size: 0.75em;
	cursor:pointer;
	background: #fff url(../resources/images/general/refresh.png) no-repeat center;
	background-size: 20px;
	z-index: 9999;
}
.boton_zoom {
	width: 30px;
	height: 30px;
	line-height:30px;
	padding: 5px;
	color: #333;
	box-shadow: 0px 0px 3px #111;
	border-radius: 100px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	right: 270px;
	font-size: 0.75em;
	background-color: #fff;
	z-index: 9999;
}
#zoom_in {
	cursor:pointer;
	right: 170px;
	background: #fff url(../resources/images/general/zoomin.png) no-repeat center;
	background-size: 20px;
}
#zoom_out {
	cursor:pointer;
	right: 170px;
	background: #fff url(../resources/images/general/zoomout.png) no-repeat center;
	background-size: 20px;
}

.section_01 {
	min-height: 25vh;
	padding: 25px 6%;
	background-color: #00405D;
	color: #EEEEEE;
}
.section_01 a {
	color: #FFFFFF;
	text-decoration: none;
}
.section_01 a:hover {
	color: #FFDB42;
}
.section_02 {
	min-height: 50vh;
	padding: 25px 6%;
	background-color: #EEEEEE;
}
.article_01 {
	position:relative;
}

.fecha_01 {
	font-size: 0.9em;
	padding: 2px 10px;
	color: #FFFFFF;
	background-color: #00405D;
}
.fecha_02 {
	font-size: 0.9em;
	color: #00405D;
}

.title_01 {
	color: #FFDB42;
	font-size: 1.2em;
	border-bottom: 1px solid #FFDB42;
}

.tlfs {
	list-style: none;
	margin: 0;
	padding: 0;
}
.tlfs b {
	background-color: #ddd;
	padding: 6px;
	margin: 5px 0;
}
.tlfs li  {
	margin: 5px 0;
}
.tlfs li a {
	text-decoration: none;
	font-size: 1.2em;
	margin: 0 0 0 2px;
}

.data_route {
	color: #fff;
	background-color: #00405D;
	padding: 5px 20px;
}
#datos_geo
{
	transform-origin:left;
	transform:translate(50%) rotate(90deg);
	-webkit-transform-origin:left;
	-webkit-transform:translate(50%) rotate(90deg);
	padding-right: 10px;
}
.buttons_routes {
	float: left;
	width: 27%;
	height: 170px;
	max-width: 250px;
	min-width: 110px;
	padding: 1.5%;
	color: #fff;
	background-color: #00405D;
	margin: 10px 1.5%;
	text-align: center;
}
.buttons_galleries {
	float: left;
	width: 28%;
	height: 190px;
	max-width: 250px;
	min-width: 110px;
	padding: 1%;
	color: #00405D;
	background-color: #fff;
	margin: 10px 1.5%;
}
.vermas {
	display: inline-block;
	text-decoration: none;
	border-radius: 25px;
	background: #00405D;
	color: #FFDB42;
	padding: 8px 30px;
	margin-bottom: 40px;
	outline:none;
	outline: 0;
	-webkit-outline: 0;
}
.footer_01 {
	min-height: 5vh;
	padding: 20px;
	background-color: #F3F3F3;
	text-align: center;
}

#descarga {
	z-index: 9999;
	position: absolute;
	width: 90%;
	height: 100%;
	color: #333;
	padding: 20px 5%;
	padding-top: 120px;
	background: rgba(255,255,255,0.95) url(../resources/images/general/loading.gif) no-repeat center 25px;
}
#descarga_close {
	width: 100px;
	height: 30px;
	line-height: 30px;
	padding: 5px 25px;
	color: #333;
	box-shadow: 0px 0px 3px #111;
	border-radius: 100px;
	text-align: center;
	cursor: pointer;
	background: #fff;
	font-size: 1.3em;
	display:none;
}

@media screen and (max-width: 480px)
{
	.buttons_routes {
		float: left;
		width: 94%;
		height: 170px;
		min-width: 110px;
		max-width:100%;
		padding: 2%;
		color: #fff;
		background-color: #00405D;
		margin: 10px 1%;
	}
	.buttons_galleries {
		float: left;
		width: 94%;
		height: 170px;
		max-width: 100%;
		min-width: 110px;
		padding: 2%;
		color: #00405D;
		background-color: #fff;
		margin: 10px 1%;
	}
}